---
name: Generate SBOM

on:
  workflow_call:
    inputs:
      tag:
        type: string
        description: The tag to use for generating SBOM.
        required: true

jobs:
  sbom:
    name: Generate SBOM
    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      SLACK_CHANNEL: '#oss-releases'
    steps:
      - name: Get github app token
        uses: actions/create-github-app-token@af35edadc00be37caa72ed9f3e6d5f7801bfdf09  # v1.11.7
        id: gh-app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Checkout tag
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          ref: ${{ inputs.tag }}
          token: ${{ steps.gh-app-token.outputs.token }}

      - name: Slack notification
        uses: act10ns/slack@44541246747a30eb3102d87f7a4cc5471b0ffb7d  # v2.1.0
        with:
          status: starting
          steps: ${{ toJson(steps) }}
          channel: ${{ env.SLACK_CHANNEL }}
          message: Starting generating sbom for ${{ github.repository }} with tag
            ${{ inputs.tag }}......
        if: always()

      - name: Run SBOM
        uses: anchore/sbom-action@f325610c9f50a54015d37c8d16cb3b0e2c8f4de0  # v0.18.0
        with:
          upload-artifact-retention: 7
          upload-release-assets: false
          github-token: ${{ steps.gh-app-token.outputs.token }}
          output-file: openzeppelin-relayer-${{ inputs.tag }}-spdx.json
          artifact-name: openzeppelin-relayer-${{ inputs.tag }}-spdx.json

      - name: Upload Release Artifact
        env:
          GH_TOKEN: ${{ steps.gh-app-token.outputs.token }}
        run: gh release upload ${{ inputs.tag }} ./openzeppelin-relayer-${{ inputs.tag
          }}-spdx.json

      - name: SBOM attestation
        uses: actions/attest-build-provenance@d3b713ade6128010830a9be91a036ed11e065550  # main
        with:
          subject-path: ./openzeppelin-relayer-${{ inputs.tag }}-spdx.json
          github-token: ${{ steps.gh-app-token.outputs.token }}

      - name: Slack notification
        uses: act10ns/slack@44541246747a30eb3102d87f7a4cc5471b0ffb7d  # v2.1.0
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
          channel: ${{ env.SLACK_CHANNEL }}
          message: Generating sbom ${{ job.status }}
        if: always()
